# Your Prismic repository name (from https://joe-richardson.prismic.io)
NEXT_PUBLIC_PRISMIC_ENVIRONMENT=joe-richardson

# Optional: only needed if your repo is private and you use Release/preview APIs
# PRISMIC_ACCESS_TOKEN=
